html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}


#rcorners1 {-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 3px 3px 8px #000000;
-moz-box-shadow: 3px 3px 8px #000000;
box-shadow: 3px 3px 8px #000000;
background-color: #E6E6FA;  /*#D3D3D3;*/
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #000000;
text-align: center;
width: 80%;
height:auto;

}

​

#rcorners2 {-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 3px 3px 8px #000000;
-moz-box-shadow: 3px 3px 8px #000000;
box-shadow: 3px 3px 8px #000000;
background-color: #D3D3D3;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #000000;
text-align: center;
width: 30%;
height: 150px;  
}

.winlabel {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #f00;
	font-size: 16pt;
	padding: 5;
	font-weight: bold;
    text-align: left;
    
}


.tablebackground {-webkit-border-radius: 20px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
-webkit-box-shadow: 3px 3px 8px #000000;
-moz-box-shadow: 3px 3px 8px #000000;
box-shadow: 3px 3px 8px #000000;
background-color: #E6E6FA;
padding: 10px;
opacity: 0.9;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-weight: bold;
font-size: 13pt;
color: #4169E1;
vertical-align: middle;
}


.demo-container {
	box-sizing: border-box;
	width: 95%;
	height: 95%;
	padding: 10px 0px 10px 0px;
	margin: 5px 5pt 5px 5pt;
	border: 0px solid #ddd;
	background: #fff;
    text-align: center;


}

.demo-placeholder {
	width: 90%;
	height: 95%;
	font-size: 14px;
	line-height: 1em;
    border: 0px solid #ddd;
    text-align: center;
}


.legend table {
	border-spacing: 5px;
    table-layout:  fixed;
}
.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 14px;
}

.yaxisLabel {
	top: 50%;
	margin-left: -30px;
    margin-top: 200px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}


img.align-left{float:left;margin:0 10px 5px 0;}
img.align-right{float:right;margin:0 0 5px 10px;}


.logo-text{
	/*position: absolute;*/
	margin: 0; padding: 0;
	font: bold 24px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	letter-spacing: 0px;
	text-decoration: none;
	color: #332616;
}

p.pfont1 {
/*	float: left;*/
	margin: 0;
	padding: 0 15px 0 5px;
	color: #332616;
	font: bold 18px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    text-align: left;
}

h4.Cali
 { font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
   font-size: 20px; 
   font-style: normal; 
   font-variant: normal; 
   font-weight: 500; 
   line-height: 15.4px; }

.FontBookAnti 
{ font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
  font-size: 22px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 26.4px; 
  
}



.numberfont {
/*	float: left;*/
	margin: 0;
	padding: 0;
	color: #332616;
	font: bold 20px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    text-align: left;
}

p.pfont2 {
/*	float: left;*/
	margin: 0;
	padding: 0 15px 0 5px;
	color: #332616;
	font: bold 16px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    text-align: left;
}

.textarea5{
	border: 1px solid #765942;
	border-radius: 15px;

	width: 80%;
}



.label-success{background-color:#24a3f2}/*colorcode*/
.label
{display: inline;
 padding:.3em .3em .3em .3em;
 font-size:75%;
 font-weight:700;
 line-height:1;
 color:#fff;
 text-align:center;
 white-space:nowrap;
 vertical-align:baseline;
 border-radius:.25em}
/*
input {
	font-size: 14px;
}

input[type=checkbox] {
	margin: 7px;
}
    */





.numberarea {
    
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0px 0px 6px #000000;
-moz-box-shadow: 0px 0px 6px #000000;
box-shadow: 0px 0px 6px #000000;
background-color: rgba(36,163,242, 0.35) ;/*colorcode*/
padding: 3px;
opacity: 0.9;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-weight: bold;
font-size: 11pt;
color: #000000;
text-align: left;
}


.transbackground {
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
border: 1px solid #696969;
background-color: #FFFFFF;
padding: 10px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size: 13pt;
color: #000000;
text-align: center;
vertical-align: middle;
width: 95%;
height: 90%;
}


.transbackgroundGMap {
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
border: 1px solid #696969;
background-color: #FFFFFF;
padding: 10px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size: 13pt;
color: #000000;
text-align: left;
vertical-align: middle;
width: 100%;
height: 100%;
}


img.normal {
    height: 20px;

}


iframe.dataplot {
  
  margin-top: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;


} 
    
#svgContainer { 
	z-index: -10;
    height: 500px;
    width: 100%;
	position:absolute;

}

#active{
    z-index: -9;
}

 
 
#outer{
	margin:0 auto;
	width: 80%;
}

#imagetogglepv{ /*PV*/
  	width: 9em;
 	height: 7em;
 	background-color:transparent;
    margin-top: 25%;
    margin-left: 5%;
    z-index: -5;

}
 
#imagetoggleload{ /*Load*/
 	width: 9em;
 	height: 7em;
	background-color:transparent;
    margin-top: 25%;
    margin-left: 58%;
    z-index: -5;
}

#imagetogglegrid{ /*Grid*/
   	width: 9em;
 	height: 7em;
	background-color: transparent;
    margin-top: 45%;
    z-index: -5;
    
}
#imagetogglebattery{ /*Battery*/
 	width: 9em;
 	height: 7em;
	background-color: transparent;
    margin-top: 45%;
    margin-left: 55%;
    z-index: -5;
}
           

#imagetogglecontrol{ /*Control - no longer blue because the box size needs to be greater than image size*/
    z-index: 100; /*needs to be on top of everything*/
 	width: 9em;
 	height: 7em;
	background-color:transparent;
    margin-left: 40%; 
}

#parentTab{
    border-style: none;
    border-color: rgba(105, 105, 105, 0.40);
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);/*colorcode*/
}

#logbox{
    border-style: none;
    border-color: rgba(105, 105, 105, 0.40);
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);/*colorcode*/
    z-index: 0;/*needs to be zero or higher so that the img titles display on the div; negative value means thats the mouse events are handled by parentTab and thus image title isn't displayed on hover*/
}

#guagebox{
    border-style: inset;
    border-color: rgba(105, 105, 105, 0.40);
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05)/*colorcode*/
    z-index: 0;/*needs to be zero or higher so that the img titles display on the div; negative value means thats the mouse events are handled by parentTab and thus image title isn't displayed on hover*/
}


#yesttable{
    border-style: hidden;
    border-color: rgba(105, 105, 105, 0.40);
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -99;
}
td {
    border: 1px hidden;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}



#dropdowntogglecontrol{
   z-index: 500;  /*not even arbitrary values like 500 are working TODO */
   background-color: white;
}


#dropdowntogglepv{
   background-color: white;
}

#dropdowntogglegrid{
   background-color: white;
}

#dropdowntogglebattery{
   background-color: white;
}


#dropdowntoggleload{
   background-color: white;
}

/*#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}*/ /*had to be removed cause it was making the text in the system layout slides invisible till hover*/


.GenPath1 { /*for power generation*/
  stroke-dasharray: 20;
  stroke-dashoffset:500;
  stroke-linecap: round;
  animation: dash 10s infinite linear reverse;
}

.GenPath2 { /*for power generation*/
  stroke-dasharray: 20;
  stroke-dashoffset:500;
  stroke-linecap: round;
  animation: dash 10s infinite linear forwards;
}

.GenConPath { /*for power generation and consumption*/
  stroke-dasharray: 20;
  stroke-dashoffset:500;
  stroke-linecap: round;
  animation: altdash 10s infinite ease-in-out alternate;
}

.ConPath { /*for power consumption*/
  stroke-dasharray: 20;
  stroke-dashoffset:500;
  stroke-linecap: round;
  animation: dash 10s infinite forwards linear;
}

@keyframes altdash {
    
    0% {
		stroke: green;
	}
    25% {
        stroke: #5cb85c;
        background-color: red;
    }
    50% {
        stroke: #ffd800;
    }
    75% {
        stroke: #ff6a00;
    }
    90% {
        stroke: #f00;
    }

100% {
        stroke: #f00;
    }
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes dash {
    
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}


/*CSS for Tabs and background color*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{

    background-color: #e8e7f5;  
    border-color: #1d159b;
    border-style: groove;
} 


/*
.navbar{ colorcode
        color: White;
    background-color: #0a6daa;
}
    */


a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}